<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Item</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
</head>
<body>
<table>
    <caption>Item</caption>
    <thead>
    <tr>
        <td>NAME</td>
        <td>DESCRIPTION</td>
        <td>PRICE</td>
        <td>SHOPS</td>
    </tr>
    </thead>
    <tr>
        <td th:text="${item.name}">Name not defined</td>
        <td th:text="${item.description}">Description not defined</td>
        <td th:text="${item.price}">Price not defined</td>
        <td th:each="shop : ${item.shops}">
            <span th:text="${shop.name+', '+shop.location+'.'}">Shop not defined</span><br>
        </td>
    </tr>
    </tbody>
</table>
<a href="#" th:href="@{/items}">Show all items</a><br>
<a href="#" th:href="@{/}">Back to welcome page</a><br>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>