<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Items</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
</head>
<body>
<div th:if="${not #lists.isEmpty(items)}">
    <table>
        <caption>Items</caption>
        <thead>
        <tr>
            <td>NAME</td>
            <td>DESCRIPTION</td>
            <td>PRICE</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody th:each="item : ${items}">
        <tr th:object="${item}">
            <td th:text="*{name}">Name not defined</td>
            <td th:text="*{description}">Description not defined</td>
            <td th:text="*{price}">Price not defined</td>
            <td><a href="#" th:href="@{/items/{id}(id=*{id})}">Show full item information</a></td>
            <td><a href="#" th:href="@{/items/{id}/delete(id=*{id})}">Delete item</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:unless="${not #lists.isEmpty(items)}">
    There are no items
</div>
<form action="#" th:action="@{/items/filter(name=${name}, minPrice=${minPrice}, maxPrice=${maxPrice})}" method="get">
    <div>Filter items by:</div>
    name <input type="text" name="name" placeholder="Name" th:default="null"/>
    price <input type="text" pattern="^[\d]*[\.]?[\d]*$" name="minPrice" placeholder="Minimum price" th:default="null"/>
    <input type="text" pattern="^[\d]*[\.]?[\d]*$" name="maxPrice" placeholder="Maximum price" th:default="null"/>
    <input type="submit" value="Find"/>
</form>
<a href="#" th:href="@{/items/add}">Add item</a><br>
<a href="#" th:href="@{/welcome}">Back to welcome page</a><br>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>