<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shops</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
</head>
<body>
<div th:if="${not #lists.isEmpty(shops)}">
    <table>
        <caption>Shops</caption>
        <thead>
        <tr>
            <td>NAME</td>
            <td>LOCATION</td>
        </tr>
        </thead>
        <tbody th:each="shop : ${shops}">
        <tr th:object="${shop}">
            <td th:text="*{name}">Name not defined</td>
            <td th:text="*{location}">Location not defined</td>
        </tr>
        </tbody>
    </table>
</div>
<form action="#" th:action="@{/shops/filter(location=${location})}" method="get">
    <div>Filter shops by:</div>
    location <input type="text" name="location" placeholder="Location"/>
    <input type="submit" value="Find"/>
</form>
<div th:unless="${not #lists.isEmpty(shops)}">
    There are no shops
</div>
<div th:if="${pageNumbers ne null}" th:each="page : ${pageNumbers}">
    <a th:href="@{/shops(pageNumber=${page})}" th:text="${page}"></a>
</div>
<a href="#" th:href="@{/shops/add}">Add shop</a><br>
<a href="#" th:href="@{/welcome}">Back to welcome page</a><br>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>